{% extends 'base.html' %}
{% load bootstrap4 %}
{% block base %}

    <img src="{{movie.image}}" alt="{{movie.title}}" style="width: 21rem; height: 28rem;">
    <br>
    <div id="player"></div>

    
    {{movie.title}}
    {% for genre in movie.genres.all %}
        {{genre.mtype}}
    {% endfor %}
    {{movie.nations}}
    {{movie.grade}}
    {{movie.show_time}}
    {{movie.content}}
    {{movie.open_date}}
    {{movie.audience}}
    
    <!--영화 찜하기-->
    {% if movie in user.pick_movie.all %}
        <span data-id="{{movie.id}}" class="btn btn-outline-danger pick_btn"></span>
    {% else %}
    {% endif %}
    <!--관리자 계정 영화 수정 및 삭제-->
    {% if user.is_superuser %}
        <a href="{% url 'movies:update' movie.id %}" class="btn btn-light">UPDATE</a>
        <a href="{% url 'movies:delete' movie.id %}" class="btn btn-light">DELETE</a>
    {% endif %}
    <div>
        {% for comment in movie.comment_set.all %}
            <dl class="row">
                <a href="{% url 'accounts:user_page' comment.user.id %}">
                    <dt class="col-1">{{comment.user.username}}</dt>
                </a>
                <dd class="col-6">{{comment.content}}</dd>
                {% if comment.create_at == comment.update_at %}
                    <dd class="col-3">{{comment.create_at}}</dd>
                {% else %}
                    <dd class="col-3">{{comment.update_at}}</dd>
                {% endif %}
                <dd class="col-2">
                    {% if comment.user == request.user %}
                        <a href="" class="btn btn-light btn-sm">UPDATE</a>
                        <a href="{% url 'movies:comment_delete' movie.id comment.id %}" class="btn btn-light btn-sm">DELETE</a>
                    {% endif %}
                </dd>
            </dl>
        {% endfor %}
    </div>
    <form method="POST" action="{% url 'movies:comment_create' movie.id %}">
        {% csrf_token %}
        {% bootstrap_form comment_form %}
        <input type="submit" value="Submit"/>
    </form>
    
    <script>
        /* IFRAME */
        // 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');
      
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      
        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;
        function onYouTubeIframeAPIReady() {
          player = new YT.Player('player', {
            height: '360',
            width: '640',
            videoId: 'SUXWAEX2jlg',
            events: {
              'onReady': onPlayerReady,
              'onStateChange': onPlayerStateChange
            }
          });
        }
      
        // 4. The API will call this function when the video player is ready.
        function onPlayerReady(event) {
          event.target.playVideo();
        }
      
        // 5. The API calls this function when the player's state changes.
        //    The function indicates that when playing a video (state=1),
        //    the player should play for six seconds and then stop.
        var done = false;
        function onPlayerStateChange(event) {
          if (event.data == YT.PlayerState.PLAYING && !done) {
            setTimeout(stopVideo, 6000);
            done = true;
          }
        }
        function stopVideo() {
          player.stopVideo();
        }
        
        /* pickBtn */
        let pickBtnList = document.getElementsByClassName('pick_btn')
    </script>
{% endblock %}