{% extends 'base.html' %}
{% load bootstrap4 %}
{% block base %}
<style>
    html, body{
        height: 100%;
        margin: 0px;
    }
    body {
        background: linear-gradient(to right, rgba(7,7,7,.9), rgba(0,0,0,.5)), url('https://images.unsplash.com/photo-1485095329183-d0797cdc5676?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn-btn-primary" value="Submit"/>
    </form>
    
{% endblock %}