{% extends 'base.html' %}
{% load gravatar_templatetag %}
{% block base %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .movie-list:after {
        content: "";
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0,0,0,.9), rgba(0,0,0,0.67)),url(https://images.unsplash.com/photo-1535016120720-40c646be5580?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat top left / cover;
    }
    .movie-list .card {
        border-radius: 0;
        box-shadow: 0px 6px 18px rgba(0, 0, 0, 1);
        background-color: rgba(10,10,10,.1);
        color: rgba(255,255,255,.99);
        transition: all .2s ease-in-out;
    }

    .card-wrapper:hover .card {
        transform: translateY(-8px);
    }

    .checked {
        color: orange;
    }
    
</style>

    <div id="app">
        <div class="d-flex flex-row align-items-center justify-content-around mt-3" style="background-color: rgba(200, 200, 200, .6)">
            <div class="pt-2 col-auto">
                <label for="genreSelect" class="text-white">장르 </label>
                <select v-model="genreStatus" id="genreSelect">
                    <option value="all">전체보기</option>
                    <option v-for="genre in genres" v-bind:value="genre.pk">[[genre.fields.mtype]]</option>
                </select>
            </div>
            <div class="col-auto py-2">
                <input class="form-control h-75" type="search" placeholder="영화제목검색" aria-label="영화제목 검색" v-model="search">
            </div>
        </div>
        <div class="row movie-list">
            <div class="card-wrapper mx-auto mt-3" v-for="(movie, index) in filteredList" v-if="genreStatus === 'all' || movie.fields.genre.includes(genreStatus)">
                <div class="card bg-dark text-white" @mouseover="movie.togle = true" @mouseleave="movie.togle = false">
                    <img v-bind:src="movie.fields.image" class="card-img" v-bind:alt="movie.fields.title" style="width: 13rem; height: 20rem; cursor: pointer;">
                    <div v-if="movie.togle" class="card-img-overlay text-center " style="background-color: rgba(10, 10, 10, .6)">
                        <h5 class="card-title mt-5">[[movie.fields.title]]</h5>
                        <p class="card-text" v-text="movie.fields.open_date.substring(0,4)"></p>
                        <span style="cursor: pointer;" v-if="!movie.score" v-for="n in 5" class="fa fa-star" v-bind:class="[movie.tempScore > n-1 ? {checked:true}  : '']" @mouseover="movie.tempScore = n" @mouseout="movie.tempScore = 0" @click="scoreCreate(movie.pk, n)"></span>
                        <span style="cursor: pointer;" v-if="movie.score" v-for="n in 5" class="fa fa-star" v-bind:class="[movie.score > n-1 ? {checked:true}  : '']" @click="scoreDelete(movie.pk, movie.scoreId)"></span>
                        <hr>
                        <a :href="'/movies/' + movie.pk" class="btn btn-sm btn-info">상세정보</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // const MY_SERVER = "http://127.0.0.1:8000"
        const MY_SERVER = "http://debugging-1-clearroot.c9users.io:8080"
        // const MY_SERVER = "http://endgame-jtj0525.c9users.io:8080"
        const app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                movies: [],
                genres: [],
                genreStatus: 'all',
                starMovie: false,
                viewMovieIndex: 0,
                search: '',
            },
            mounted: function(){
                axios.get(`${MY_SERVER}/movies/json/list`)
                .then((r) => {
                    const moviesData = JSON.parse(r.data.movies_json)
                    const scoreData = JSON.parse(r.data.scores_json)
                    const genresData = JSON.parse(r.data.genres_json)

                    this.movies = moviesData.map((m) => {
                        return {...m, togle: false, score: 0, scoreId: 0, tempScore: 0, openY: parseInt(m.fields.open_date)}
                    })
                    this.movies = this.movies.reduce((map, movie)=>{
                        map[movie.pk] = movie;
                        return map;
                    }, {})
                    scoreData.forEach(score => {
                        const movie_id = score.fields.movie
                        const score_value = score.fields.value
                        const score_id = score.pk
                        this.movies[`${movie_id}`].score = score_value
                        this.movies[`${movie_id}`].scoreId = score_id
                    });
                    this.genres = genresData.map((g) => {
                        return {...g}
                    })
                })
                .catch((e) => {console.log(e)})
            },
            computed: {
                orderbyMovie(){
                    return _.orderBy(this.movies, 'openY', 'desc')
                },

                filteredList: function(){
                    return this.orderbyMovie.filter((movie) => {
                        return movie.fields.title.toLowerCase().includes(this.search.toLowerCase())
                    })
                },
            },
            methods: {
                scoreDelete: function(movie_id, score_id){
                    axios.get(`${MY_SERVER}/movies/${movie_id}/${score_id}/score_delete`)
                    .then((r) => {
                        this.movies[`${movie_id}`].score = 0
                        this.movies[`${movie_id}`].scoreId = 0
                    })
                    .catch((e) => {console.log(e)})
                },
                scoreCreate: function(movie_id, value){
                    axios.get(`${MY_SERVER}/movies/${movie_id}/score`, {params: {value: value}})
                    .then((r) => {
                        this.movies[`${movie_id}`].score = `${value}`
                        this.movies[`${movie_id}`].scoreId = r.data.score_id
                    })
                    .catch((e) => {console.log(e)})
                },
            },
            watch: {
                
            },
        })
    </script>
{% endblock %}