{% extends 'base.html' %}
{% block base %}
    {% if com == 'edit_profile' %}
        <h1>회원정보 수정</h1>
        <form method="POST" action="{% url 'accounts:edit_profile' user.id %}">
    {% elif com == 'leaving_user' %}
        <h1>회원 탈퇴</h1>
        <form method="POST" action="{% url 'accounts:leaving_user' user.id %}">
    {% endif %}
            {% csrf_token %}
            {{user.username}}
            <input type="hidden" name="com" value="{{com}}"/>
            <input type="password" name="pwd" placeholder="Enter Password"/>
            <input type="submit" value="Submit"/>
        </form>

{% endblock %}