{% extends 'base.html' %}
{% load gravatar_templatetag %}
{% block base %}

<style>
    html, body{
        height: 100%;
        margin: 0px;
    }
    body {
        background: linear-gradient(to right, rgba(7,7,7,.9), rgba(0,0,0,.5)), url('https://images.unsplash.com/photo-1485095329183-d0797cdc5676?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }


    .accounts {
    margin-top: 3rem;
    margin-bottom: 3rem;
    justify-content: center;
    }

    .accounts:after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    height: calc(100vh - 56px);
    background: linear-gradient(to right, rgba(7,7,7,.9), rgba(0,0,0,.5)), url('https://images.unsplash.com/photo-1485095329183-d0797cdc5676?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat top center / cover;
    }

    .accounts > div {
    padding: 3.2rem 3.6rem 2.4rem;
    background: rgba(7,7,7,.89);
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 1)
    }

    @media (max-width: 576px) {
    .accounts {
        flex-direction: row !important;
        align-items: center;
    }

    .accounts >div {
        padding: .1rem .9rem 0;
    }

    .accounts small {
        font-size: 12px;
    }
    }

    .profile-title {
        padding-bottom: .7rem;
        border-bottom: 1px solid;
        font-weight: lighter;
    }

    .profile-content span {
        color: rgba(255,255,255,.75);
        font-size: .9rem;
    }

    .profile-content p {
        display: inline;
        padding-left: .8rem;
        font-size: 1.4rem;
    }

    .custom-file label {
        z-index: 10;
    }

    label.profile-extra-label {
        top: 0;
        left: 0;
        background: #272727;
        border-color: #921216;
    }

    label.profile-extra-label:after {
        color: white;
        background: #921216
    }
</style>

    <div class="row flex-column accounts text-center text-white">
        <div class="col-11 offset-sm-1 col-sm-10 offset-md-2 col-md-8">
        <h1 class="my-5 profile-title">계정 정보</h1>
        <div>
            {% if user_info.is_authenticated %}
                {% if user_info.profile_image %}
                    <img class="rounded" src={{user_info.profile_image.url}} alt="profile image" width="150">  
                {% else %}
                    <img class="rounded" src={{user_info.email|gravatar_url:150}} alt="profile image" width="150">  
                {% endif %}
            {% endif %}
        </div>
    
        <div class="mt-3 mb-5 profile-content">
            <div class="my-3">
                <span>아이디</span>
                <p>{{user_info.username}}</p>
                {% if request.user != user_info %}
                    {% if user_info in user.followings.all %}
                        <span data-id="{{user_info.id}}" class="ml-2 px-1 py-0 btn btn-secondary follow_btn" style="cursor:pointer">팔로잉</span>
                    {% else %}
                        <span data-id="{{user_info.id}}" class="ml-2 px-1 py-0 btn btn-primary follow_btn" style="cursor:pointer">팔로우</span>
                    {% endif %}
                {% endif %}
            </div>
            <div class="my-3">
                <span>자기소개</span>
                {% if user_info.introduce %}
                <p>{{user_info.introduce}}</p>
                {% else %}
                <p>-</p>
                {% endif %}
            </div>
            <div class="my-3">
                <p>팔로잉 : <p id="followings_count_{{user_info.id}}">{{user_info.followings.count}}</p></p>
                <p>팔로워 : <p id="follows_count_{{user_info.id}}">{{user_info.followers.count}}</p></p>
            </div>
        </div>
    
        <div class="pb-5">
            {% if request.user == user_info %}
                <a href="{% url 'accounts:edit_profile' user.id %}" class="btn btn-light mx-2">회원수정</a>
                <a href="{% url 'accounts:leaving_user' user.id %}" class="btn btn-light mx-2">회원탈퇴</a>
            {% endif %}
        </div>
    </div>     
    
    <script type="text/javascript">
        let followBtnList = document.getElementsByClassName('follow_btn')
        for(const followBtn of followBtnList){
            followBtn.addEventListener('click', e => {
                const follow_id = e.target.dataset.id
                console.log(e.target)
                axios.get(`/accounts/follow/${follow_id}`)
                .then(function(res){
                    if(res.data.is_follow){
                        e.target.classList.remove('btn-primary')
                        e.target.classList.add('btn-secondary')
                        e.target.innerText = "팔로잉"
                    }else{
                        e.target.classList.remove('btn-secondary')
                        e.target.classList.add('btn-primary')
                        e.target.innerText = "팔로우"
                    }
                    document.getElementById(`followings_count_${follow_id}`).innerHTML = res.data.followings_count
                    document.getElementById(`follows_count_${follow_id}`).innerHTML = res.data.follows_count
                })
                .catch(function(error){
                    console.log(error)
                })
            })
        }
    </script>
{% endblock %}